.infor-detail__banner {
    position: relative;

    .banner-img {
        width: 100%;
        min-height: 30rem;
    }

    .banner-title {
        @include absCenter;
        color: $white;
        font-size: 6rem;
        width: 80%;
        text-align: center;
        
        @media (min-width: 768px) {
            font-size: 8rem;
        }

        @media (min-width: 992px) {
            font-size: 9.6rem;
        }
    }
}