.sale-detail__img {
    img {
        width: 100%;
        max-height: 45rem;
        object-fit: cover;
    }
}

.sale-detail__title {
    margin: 2.4rem 0;
    color: $secondary;
    text-align: center;
}

.sale-detail__content {
    margin-bottom: 5rem;

    .ql-align-center {
        text-align: center;
    }

    p {
        font-size: 1.3rem;
    }
}


.sale-detail__code {
    .field-code {
        width: 30rem;
        margin: 0 auto;
        display: flex;
        margin-bottom: 6rem;
        height: 5rem;

        .btn-copy-code {
            min-width: 11rem;
            opacity: 0.7;
            color: $primary;
            padding: 0;
        }

        input {
            font-weight: $font-weight-bold;
        }
    }
}