img {
    max-width: 100%;
}

// Use for svg icon
.icon {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    fill: currentColor;
    transition: fill 0.3s;
    path {
        fill: inherit;
    }
}

// If svg icon be default set property opacity < 1
.fill-opacity-1 {
    fill-opacity: 1;
    path {
        fill-opacity: 1;
    }
}

.v-select__placeholder {
    flex: 1;
}

.color-primary {
    color: $primary;
}

.color-pink {
    color: $pink;
}

.color-red {
    color: $red;
}

.flex-0 {
    flex: 0 !important;
}

.flex-1 {
    flex: 1 !important;
}

.flex-2 {
    flex: 2 !important;
}

.flex-3 {
    flex: 3 !important;
}

a {
    transition: color .3s;
}

* {
    scroll-behavior: smooth;
}

body * {
    @include scrollbars(8px, #B4B4B4, transparent, $border-radius);
}

.pac-container {
z-index: 99999
}


.layout-default .page-content {
	position: relative;
	z-index: 1;
}
.layout-default .footer {
	position: relative;
	z-index: 999;
	background: #fff;
}


.geolocation {
	&:before {
		content: '';
		display: block;
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		z-index:999;
		background: url("~assets/icons/loading.gif");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100px;
		background-color: rgba(255,255,255,0.5);
		opacity: 0;
		visibility: hidden;
		transition: all 300ms;
	}
	&.loading:before {
		opacity: 1;
		visibility: visible;
	}
}