.new-intro {
    margin-top: 3rem;
    margin-bottom: 2.4rem;
    position: relative;
}

.new-intro__img {
    img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        max-height: 60rem;
    }
    
    // .post-name {
    //     @include absCenter;
    //     font-size: $h3-font-size;
    //     color: $white;
    //     width: 100%;
    //     text-align: center;
    //     padding: 0 2rem;
    // }
}

.new-intro__text {
    position: absolute;
    left: 1.6rem;
    bottom: 1.6rem;

    .infor-text {
        @include set-line((
            'lineClamp': 2,
            'lineHeight': $line-height-base
        ));

        /deep/ * {
            margin-bottom: 0;
        }
    }

    .infor-views {
        background-color: $body-color;
    }
}

// @-moz-document url-prefix() { 
//     .infor-text {
//        max-height: 7rem;
//     }
// }