.fofp-resend-otp {
  text-align: center;
  margin-top: 1.6rem;

  a {
    color: $deep-dark;

    &:hover {
      color: $primary;
    }
  }
}

.fofp-input-group {
  display: flex;
  flex-wrap: wrap;

  @include media(">483px") {
    justify-content: space-between;
  }
}

.fofp-input-item {
  flex: 0 0 6rem;
  margin: 1rem;

  /deep/ .v-input__input {
    width: 6rem;
    height: 6rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 0;
  }
}

.form-auth__label {
  margin-bottom: 1.6rem;
}