.suggest-search {
    padding: 1.6rem 1.6rem 0.6rem 1.6rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: $white;
    border-radius: $border-radius;
    border: 1px solid $input-border-color;
    width: 100%;
    margin-bottom: 2.4rem;

    @media (min-width: 768px) {
        width: calc(100% - 54px);
    }
}


.suggest-search__item {
    width: 50%;
}