.home-swiper  {
  position: relative;
  padding-bottom: 2.4rem;

  .swiper-pagination {
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);

    /deep/ .swiper-pagination-bullet {
    width: 1.6rem;
    height: 0.6rem;
    display: inline-block;
    border-radius: 1px;
    margin-right: 0.2rem;
    background-color: $body-color-dark;
    opacity: 0.4;
    }

    /deep/ .swiper-pagination-bullet-active {
    background-color: $primary;
    opacity: 1;
    }
  }
}


