.policy__box {
    margin-bottom: 2.4rem;
    h5 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 2.4rem;
    }

    p:last-child {
        margin-bottom: 0;
    }

    ul {
        list-style-type: none;
    }
}